body {
    background: rgb(3,1,5);
    background: linear-gradient(360deg, rgba(3,1,5,1) 90%, rgba(36,4,74,1) 93%);
    color: #ffffff;
}


.song-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.song-card {
    background-color: #17141b;
    color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

    .song-card img {
        max-width: 100%;
        border-radius: 5px;
    }

.playlist-button {
    background-color: #1db954;
    border: none;
    color: #ffffff;
    / padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

    .playlist-button:hover {
        background-color: #168f3a;
    }

#searchTerm {
    width: 100%;
    padding: 10px;
    border: 1px solid #24044a;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    outline: none;
}

    #searchTerm::placeholder {
        color: lightgrey;
    }

#searchButton {
    background-color: #1db954;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

    #searchButton:hover {
        background-color: #168f3a;
    }


.btn-transparent {
    background-color: rgba(169, 169, 169, 0.3);
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
}

    .btn-transparent:hover {
        background-color: rgba(169, 169, 169, 0.5);
    }
